@charset "UTF-8";
/* CSS Document */

*{
	padding:0;
	margin:0;
}

body{
	background-color:#999;
}

#wrapper{
	width:980px;
	margin:0 auto;
	background-color:#181818;
	color:#999;
}

/* ====== 標題區 ====== */
#header{
	background-image:url(images/header_bg.jpg);
	height:340px;
	position:relative;
}
#header h1{
	background-image:url(images/header_logo.png);
	width:230px;
	height:60px;
	text-indent:-9999px;
	float:left;
	margin:10px 60px 0 60px;
}
#header ul{}
#header li{
	float:left;
	list-style-type:none;
}
#header li a{
	display:block;
	width:100px;
	height:60px;
	text-indent:-9999px;
}
#header li.aboutus a{
	background-image:url(images/header_icon1_1.jpg);
}
#header li.aboutus a:hover{
	background-image:url(images/header_icon1_2.jpg);
}
#header li.news a{
	background-image:url(images/header_icon2_1.jpg);
}
#header li.news a:hover{
	background-image:url(images/header_icon2_2.jpg);
}
#header li.cars a{
	background-image:url(images/header_icon3_1.jpg);
}
#header li.cars a:hover{
	background-image:url(images/header_icon3_2.jpg);
}
#header li.services a{
	background-image:url(images/header_icon4_1.jpg);
}
#header li.services a:hover{
	background-image:url(images/header_icon4_2.jpg);
}
#header li.contact a{
	background-image:url(images/header_icon5_1.jpg);
}
#header li.contact a:hover{
	background-image:url(images/header_icon5_2.jpg);
}
#header h3{
	background-image: url(images/header_slogon.png);
	width: 400px;
	height: 120px;
	text-indent: -9999px;
	position: absolute;
	left: 450px;
	top: 99px;
}

/* ====== 左欄區 ====== */
#slidebar1{
	width:200px;
	float:left;
	margin-right:15px;
	background-image:url(images/sidebar1_bg.jpg);
	background-repeat:no-repeat;
}
#slidebar1 ul{
	width:100px;
	margin:0 auto;
}
#slidebar1 li{
	list-style-type:none;
}
#slidebar1 li a{
	display:block;
	width:100px;
	height:32px;
	text-indent:-9999px;
	margin:6px 0;
}
#slidebar1 li.classic a{
	background-image:url(images/sidebar1_icon1.gif);
}
#slidebar1 li.fashion a{
	background-image:url(images/sidebar1_icon2.gif);
}
#slidebar1 li.speed a{
	background-image:url(images/sidebar1_icon3.gif);
}
#slidebar1 h2{
	background-image:url(images/sidebar1_logoinfo.jpg);
	width:155px;
	height:70px;
	text-indent:-9999px;
	margin:6px auto 6px auto;
}

/* ====== 內容區 ====== */
#content{
	width:410px;
	float:left;
	margin-right:15px;
	padding-bottom:30px;
}
#content h2{
	background-image:url(images/content_carlife.gif);
	width:220px;
	height:30px;
	text-indent:-9999px;
	margin-bottom:10px;
}
#content img{
	float:left;
	margin-right:25px;
}
#content ul{
	float:left;
	margin-bottom:20px;
}
#content li{
	font-size:12px;
	line-height:22px;
	border-bottom:#CCC 1px dashed;
}
#content h3{
	clear:both;
	background-image:url(images/content_ad.jpg);
	width:400px;
	height:110px;
	text-indent:-9999px;
}

/* ====== 右欄區 ====== */
#slidebar2{
	width:340px;
	float:right;
}
#slidebar2 h3{
	background-image:url(images/sidebar2_project.gif);
	width:300px;
	height:30px;
	text-indent:-9999px;
	margin-bottom:10px;
}
#slidebar2 table{
	width:90%;
	font-size:12px;
	line-height:17px;
	border-bottom:15px;
}
#slidebar2 table th{
	font-weight:normal;
	text-align:left;
}
#slidebar2 table td{
	color:#FC0;
}
#slidebar2 h4{
	background-image:url(images/sidebar2_ad.jpg);
	width:340px;
	height:110px;
	text-indent:-9999px;
}

/* ====== 版權宣告區 ====== */
#footer{
	clear:both;
	background-color:#424242;
	padding:10px 0 0 220px;
	height:50px;
}
#footer h2{
	background-image:url(images/footer_logo.png);
	width:150px;
	height:32px;
	text-indent:-9999px;
	float:left;
}
#footer h4{
	font-size:12px;
	color:#FFF;
	font-weight:normal;
	line-height:16px;
}